
    .form-control{
        width: 300px;
    }
    .form-group {
        margin-bottom: 15px;
        margin-left: 10px;
        margin-top: 15px;
    }
    .container {
        background-color: grey;
    }
    form {
        margin: 10px;
        
    }

    .btn button{
        margin-right: 10px;
        color: #ff0000;
        font-weight:600;
    }
    table th{
        border:1px solid;
    }
    .table {
        background-color: #f698d3;
        margin-left: 20px;
        width: 1000px;
    }
